<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page_title is defined %}{{ page_title }} | {% endif %}{{ mirsch_admin_page_title_prefix }}</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% block stylesheets %}

        <link rel="stylesheet" href="{{ asset('bundles/mirschadmin/lib/bootstrap/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/mirschadmin/lib/bootstrap-daterangepicker/daterangepicker.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/mirschadmin/lib/datatables.net-bs/css/dataTables.bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/mirschadmin/lib/select2/css/select2.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/mirschadmin/lib/select2-bootstrap-theme/select2-bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/mirschadmin/lib/admin-lte/css/AdminLTE.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/mirschadmin/lib/admin-lte/css/skins/_all-skins.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/mirschadmin/lib/font-awesome/css/font-awesome.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/mirschadmin/lib/icheck/skins/square/blue.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/mirschadmin/css/admin.css') }}" />

    {% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <header class="main-header">
        <!-- Logo -->
        <a href="{{ path('homepage') }}" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini">{{ mirsch_admin_page_logo_mini | raw }}</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg">{{ mirsch_admin_page_logo | raw }}</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">{{ 'mirsch.admin.page.toggle_navigation' | trans }}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            {% include '@MirschAdmin/layout/partials/navbar-menu.html.twig' %}
        </nav>
    </header>

    <!-- Left side column. contains the sidebar -->
    {% include '@MirschAdmin/layout/partials/sidebar.html.twig' %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {{ page_title }}
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">

            {% include "@MirschAdmin/layout/partials/flash-messages.html.twig" %}

            {% block content %}{% endblock %}
        </section>
    </div>
</div>

{% block javascripts %}

    <script src="{{ asset('bundles/mirschadmin/lib/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/mirschadmin/lib/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/mirschadmin/lib/bootstrap-daterangepicker/moment.min.js') }}"></script>
    <script src="{{ asset('bundles/mirschadmin/lib/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
    <script src="{{ asset('bundles/mirschadmin/lib/datatables.net/js/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('bundles/mirschadmin/lib/datatables.net-bs/js/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/mirschadmin/lib/select2/js/select2.min.js') }}"></script>
    <script src="{{ asset('bundles/mirschadmin/lib/admin-lte/js/app.min.js') }}"></script>
    <script src="{{ asset('bundles/mirschadmin/lib/icheck/icheck.min.js') }}"></script>
    <script src="{{ asset('bundles/mirschadmin/lib/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ asset('bundles/mirschadmin/lib/fastclick/fastclick.js') }}"></script>
    <script src="{{ asset('bundles/mirschadmin/lib/bootbox/bootbox.min.js') }}"></script>
    <script src="{{ asset('bundles/mirschadmin/lib/block-ui/jquery.blockUI.js') }}"></script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

    <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/mirschadmin/js/admin.js') }}"></script>

    <script type="text/javascript">
        var LANG = LANG || {};
        LANG.wait = '{{ 'mirsch.admin.wait' | trans | replace({"'": "\'"}) }}'
    </script>

{% endblock %}
</body>
</html>
